.navbar {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: flex-start; /* Cambiado a flex-start */
    align-items: center;
    padding: 1rem 2rem;
    background-color: #811edb;
    color: #fff;
  }
  
  .nav-item-container {
    display: flex;
    flex-grow: 1; /* Permitir que el contenedor de items crezca para rellenar el espacio */
  }
  
  .nav-item {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem; /* Añadido para un mejor espaciado */
    transition-duration: 0.2s;
  }
  
 
  
  .nav-link {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: large;
    color: #fff !important;
    text-decoration: none;
    margin-right: 1rem;
    transition: all 0.1s ease-in-out;
  
  }
  .nav-link:hover {
    font-weight: 600;
    font-size: larger;
  }
  
  .navbar-brand {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
  }
  .navbar-brand:hover {
    font-size: larger;
  }
  
  .nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .txt-area-search {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    padding: 10px;
    background-color: #811edb;
    color: #fff;
  }
  
  #txt-search-ph::placeholder {
    color: #fff;
  }
  
  .btn {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #811edb;
    color: #fff;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 25px;
    transition-duration: 0.2s;
  }
  
  .btn:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb;

  }
  
  /* Opcional: eliminar margen derecho del último nav-item */
  .nav-item:last-child {
    margin-right: 0;

  }
  