.cart {
    position: fixed;
    z-index: 9995;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #f5f5f5;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.cart.open {
    transform: translateX(0);
}
.cart-img{
    width: 100px;
    height: 100px;
}
.quantity-btn{
margin-left: 5px;

}
.cart-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    padding: 5px;
    flex-grow: 1;
 
}

.cart-item {
    display: flex;
    margin-bottom: 15px;
    border: #811edb;
    border-radius: 8%;
    padding: 10px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
    position: relative; 
    padding: 10px;
}



.cart-item-info {
    margin: 0;
    margin-left: 10px;
    
}

.cart-total {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    margin-bottom: 20px;
}

.cart-buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    height: 50px; 
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #811edb;
    color: #fff;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 25px;
    transition-duration: 0.2s;
  }

  .btn-delete {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    height: 35px; 
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #811edb;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 25px;
    transition-duration: 0.2s;

    position: absolute; /* Position the button absolutely */
    bottom: 10px; /* Position from the bottom */
    right: 10px;  /* Position from the right */
}

.btn-delete:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb;
}

.btn:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb;
}

.quantity {
    display: inline-flex;
    position: relative;
    align-items: center;
}

.quantity input[type="number"] {
    width: 45px;
    height: 42px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
    appearance: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.quantity-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -45px;
    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.quantity-button {
    width: 45px;
    height: 21px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.quantity-button:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb;
}

.quantity-button:active {
    background-color: #bbb;
}
.cssbuttons-io {
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #811edb;
    background: linear-gradient(to right, #811edb, #871fe7);
    color: #811edb;
    overflow: hidden;
    padding: 0.6em 1em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s, opacity 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

.cssbuttons-io span.fade {
    opacity: 0;
}

.cssbuttons-io svg {
    color: #811edb;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.cssbuttons-io:hover {
    
    color: #ffffff;
}
.cssbuttons-io:hover svg {
    
    color: #ffffff;
}


/* Background animation */
.cssbuttons-io::before,
.cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cssbuttons-io::before {
    content: "";
    background: white;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(1);
}
