.tabs {
    background-color: #ffffff;
    margin: 0 auto; 
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 80vh; 
}

.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: rgb(241, 241, 241) !important;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    flex-direction: row; 
}

.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.tab-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-tab {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #811edb;
    color: #ffffff !important;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 8px;
    transition-duration: 0.2s;
    width: auto;
    display: inline-block;
    padding: 2%;
}

.btn-tab:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb !important;
}

.btn-tab:focus {
    background-color: #fff;
    border-color: #811edb !important;
    border-bottom: none;
    color: #811edb !important;
}
.txt-area{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #811edb;
    padding: 10px;
  }
 
  .notes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
  }


  .txt-area-notes{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    height: 100px;
    width: 800px;
    margin: 10px;
    border-radius: 25px;
    border: 2px solid #811edb;
    padding: 10px;
  }
  .details{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
  }

