.extra-ing-container{
    
    margin: 10px 0;
}
.extra-ing__quantity-button {
    background-color: #fff;
    color: #811edb;
    border: 2px solid #811edb;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.2s;
    width: 30px;
    height: 30px;
}

.extra-ing__quantity-button:hover {
    background-color: #6b10ba;
    color : #fff;
}
