@import url(../../design.css);

.menu-div {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
}

.menu-title {
  display: flex; 
  align-items: center;  
  justify-content: center;
  width: 100%;
  height: 10%;
}

.filters-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filters-tags {
  display: flex;
  justify-content: center;  /* Centra las etiquetas en el contenedor */
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-div input {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 0;
}

.search-div input:focus {
    outline: none;
}

.search-div button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
}

.barra-menu {
    background-color: #ffffff;
    width: 30%;
    height: 30%;
}

.barra-menu button {
  height: 35px;
}

@media (max-width: 768px) {
  .menu-div {
    padding: 2rem;
  }
  
  .menu-title {
    height: auto; /* Ajusta la altura del título */
  }

  .filters-div {
    padding: 10px;
    overflow-x: auto;
  }

  .filters-tags {
    width: 80%;
  }
  
  .filters{
    flex-direction: row;
  }

  .product-container {
    grid-template-columns: unset;
    padding: 0.5rem 0.3rem;
  }
}

@media (max-width: 1540px) {
  .menu-div {
    padding: 2rem;
  }
  
  .menu-title {
    height: auto; /* Ajusta la altura del título */
  }

  .filters-div {
    padding: 10px;
    overflow-x: auto;
  }

  .filters-tags {
    width: 60%;
    flex-direction: column;
  }
  
  .filters{
    flex-direction: row;
  }

  .product-container {
    grid-template-columns: unset;
    padding: 0.5rem 0.3rem;
}
}
