@import url(../../design.css);

.reservas-container {
  background-color: #ffffff;
  width: 80%;
  height: auto;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.reservas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.reservas-header {
  width: 100%;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.reservas-header h1 {
  color: var(--navbar-color);
  text-align: center;
  font-size: var(--title-size-xxl);
  font-weight: 600;
}

.reservas-header svg {
  fill: var(--primary-color);
}

.reservas-description {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
}

.reservas-description p {
  text-align: center;
  color: var(--navbar-color);
  font-size: var(--title-size-lg);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  font-weight: 400;
  font-family: var(--font-family, sans-serif);
}

.reservas-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.reservas-section {
  display: flex;
  width: 100%;
}

.reservas-section-left, .reservas-section-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.reservas-section-right {
  justify-content: center;
    display: flex;
    align-items: center;
}

.selected-date {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 1rem;
  text-align: center;
}

.custom-calendar {
  width: 100% !important;
  max-width: 400px; /* Máximo ancho */
  min-width: 300px; /* Ancho mínimo */
  margin: 0 auto; /* Centrado del calendario */
  border: none !important;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.react-calendar {
  width: 100%; /* Asegura que el calendario se ajuste correctamente al contenedor */
  margin-bottom: 1rem; /* Espacio abajo del calendario */
}

.slots-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado del contenido */
}

.slots-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.slots-section .selected-date {
  margin-top: 1rem; /* Mueve la fecha hacia abajo */
}

.slots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0.7rem;
  place-items: center; /* Centra horizontal y verticalmente */
}

.card-slot {
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  background: white;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
  font-size: var(--title-size);
}

.card-slot:hover {
  background: var(--primary-color);
  color: white;
}

.card-slot.selected {
  background: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

.table-capacity {
  font-weight: bold;
}

.contact-form {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  font-size: var(--title-size);
  gap: 1rem;
}

.contact-form .form-group {
  margin-bottom: 1rem;
}

.contact-form input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.reservas-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.reserve-button {
  background: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reserve-button:hover {
  background: transparent;
  color: var(--primary-color);
}

.react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled {
  background: var(--primary-color-light) !important;
  color: var(--primary-color);
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background: var(--primary-color) !important;
  color: white;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled {
  background: var(--primary-color) !important;
  color: white;
}

.login-prompt {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}