
 .btns-login
{   display: flex;
    align-items: center;
    margin: 10px;
}
.login-span{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: start;
    justify-content: center;
}

.forgot-pass{
    color:rgb(143, 143, 143);
    margin-left: 40px;
    font-size: 12px;
}
