.orders-format {
  display: flex;
  flex-direction: row;
}

.orders-title {
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.orders-options {
  width: 60% !important;
}

.admin-details {
  padding: 0 25px !important;
  display: flex;
  flex-direction: column;
}

.details-item{
 display: flex;
 align-items: center;
 gap: 10px;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}
.left table {
  width: 100%;
}

.selected {
  background-color: #f0f0f0;
}