

.borde{
    border: 0px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.recomendaciones{
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;

}

.recomendaciones section {
    border-bottom: 1px solid #00000036;
    margin-bottom: 3%;
}

.buscador{
    padding: 100px 30px 48px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6700b5 ;
    size: 5%;
}

.slogan{
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
    width: 90%;
    max-width: 1440px;
    min-width: 350px;
    color: white;
}

.buscador-barra{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 90%;
    max-width: 1440px;
    min-width: 350px;
}

.entrada{
    width: 100%;
    padding: 10px;
    border: 0px solid #000000;
    border-radius: 10px;
    outline: none;
}

.bloques{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.bloque{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000036;
    border-radius: 10px;
    padding: 10px;
    width: 13%;
    height: 100px;
    min-width: 100px;
}

.bloque img {
    max-width: 100%;
    max-height: 100%;
}

.hamburguesa {
    background-image: url('../../assets/hamburguesa.png');
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
}

.hamburguesa:hover {
    filter: blur(3px);
}

.pizza {
    background-image: url('../../assets/pizza.png');
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
}

.pizza:hover {
    filter: blur(3px);
}

.helado {
    background-image: url('../../assets/helado.png');
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
}

.helado:hover {
    filter: blur(3px);
}

.titulos{
    justify-content: center;
}

