
body{
    background: rgb(241, 241, 241) !important;
    font-family: Poppins, sans-serif;
    font-weight: 400;

}

.btn {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #811edb;
    color: #fff;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 8px;
    transition-duration: 0.2s;
    width: auto;    
    display: inline-block; 
  }

.btn:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb;
}

.txt-area{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 50px;
  width: 250px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #811edb;
  padding: 10px;
}

.txt-area-notes{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 50px;
  width: 500px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #811edb;
  padding: 10px;
}
radio{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 50px;
  width: 250px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #811edb;
  padding: 10px;
}


  