
body{
    background: linear-gradient(to bottom, #1d1d1d, #1d1d1d, #1d1d1d, #1d1d1d, #801edb) !important;
    font-family: Poppins, sans-serif;
    font-weight: 400;

}

.btn {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    height: 50px; 
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #811edb;
    color: #fff;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 25px;
    transition-duration: 0.2s;
  }

.btn:hover {
    background-color: #fff;
    border-color: #811edb;
    color: #811edb;
}

.txt-area{
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 50px;
  width: 250px;
  margin: 10px;
  border-radius: 25px;
  border: 2px solid #811edb;
  padding: 10px;
}

  