:root {
    --primary-color: #ab8ef4;
    --primary-color-light: rgba(171, 142, 244, 0.192);
    --title-color-light: #575757;
    --navbar-color: #2c2c2c;
    --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
}